:root {
  --font-main: Inter;

  --color-main: rgb(249, 222, 78);
  --color-alt: rgb(150, 152, 214);
  --color-bg-light: rgb(245, 245, 251);

  --neutral-1000: #0D0D0D;
  --neutral-950: #23292e;
  --neutral-900: #353d45;
  --neutral-800: #3c4750;
  --neutral-700: #45535f;
  --neutral-600: #546775;
  --neutral-500: #697e8e;
  --neutral-400: #889ba8;
  --neutral-300: #b2bec7;
  --neutral-200: #d6dce1;
  --neutral-100: #eceff2;
  --neutral-50: #f8f9fa;
  --neutral-0: #F1F2F3;
}