:root {
  --font-main: Inter;
  --font-size-ui: 1.25rem;

  --color-main: #F9DE4E;
  --color-alt: rgb(150, 152, 214);
  --color-bg-light: rgb(245, 245, 251);

  --neutral-1000: #0D0D0D;
  --neutral-950: #23292e;
  --neutral-900: #353d45;
  --neutral-800: #3c4750;
  --neutral-700: #45535f;
  --neutral-600: #546775;
  --neutral-500: #697e8e;
  --neutral-400: #889ba8;
  --neutral-300: #b2bec7;
  --neutral-200: #d6dce1;
  --neutral-100: #eceff2;
  --neutral-50: #f8f9fa;
  --neutral-0: #F1F2F3;

  --spacing-25: 0.25rem;
  --spacing-50: 0.5rem;
  --spacing-100: 1rem;
  --spacing-150: 1.5rem;
  --spacing-200: 2rem;
  --spacing-300: 3rem;
  --spacing-400: 4rem;
  --spacing-600: 6rem;
  --spacing-800: 8rem;
  --spacing-1600: 16rem;
  --spacing-2400: 24rem;
  --spacing-3200: 32rem;
}